@model IEnumerable<HotelMVC.Models.ApartamentyDisplayViewModel>

@{
    ViewBag.Title = "Moje apartamenty";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscOsob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Udogodnienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscWizyt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocena)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IloscOsob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodPocztowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Udogodnienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IloscWizyt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocena)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdApartamentu })
                | @Html.ActionLink("Details", "Details", new { id = item.IdApartamentu })
                @if (item.Wizyty == null)
                {
                    <text>| @Html.ActionLink("Delete", "Delete", new { id = item.IdApartamentu })</text>
                }

            </td>
        </tr>
    }

</table>

<div>
    @{
        var name = "Moje wizyty";

        if (ViewData["Oczekuje"] != null && (int)ViewData["Oczekuje"] > 0)
        { name += " (" + ViewData["Oczekuje"] + " oczekuje na potwierdzenie)"; }

        @Html.ActionLink(name, "MojeApartamentyWizyty")
    }
</div>